<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PS</title>
</head>

<body style=" background-color: #130b08">
    <div style="max-width: 300px;margin: auto;padding: 50px">
        <div style="color: #fff;text-align: center">
            <img style="width:250px; height: 50px;" alt="logo"
                src="https://ponniyinselvan.ideas2it.com/static/media/title.b6cd5bbcc9e9d8b2d188.png">
            <div>OPEN YOUR EYES TO THE GREATNESS OF TAMIL NADU'S LITERATURE AND HISTORY</div>
            <button
                style="background-color: #be881f;color: #fff;padding: 10px;font-size: 15px;font-weight: 500;border: none;cursor: pointer;margin-top: 30px">
                <a href="{{link}}" style="text-decoration: none;color: unset;">Verify your account</a>
            </button>
            <div style="font-size: 13px;margin-top: 20px;">Copyright © Ideas2IT | All Rights Reserved</div>
        </div>
</body>

</html>